.App {
  width: 100vw;
  height: 100vh;
  background-color: #e5e5e5;
  display: flex;
}

.Container {
  width: 90%;
  height: 80%;
  min-height: 500px;
  margin: auto;
  box-shadow: 5px 10px 20px #888888;
  display: flex;
}

@media (min-width: 992px) {
  .Container {
    width: 70%;
  }
}