/******** Globals ********/
$main_font: "Proxima Nova";

//Palleta de cores
$darkBlue: rgb(97, 94, 170);
$primary: rgb(97, 94, 170);
$secondary: rgb(197, 197, 208);
$third: rgb(241, 240, 240);
$white: rgb(255, 255, 255);
$purple: rgb(98, 95, 171);
$lightPurple: rgb(143, 138, 244);
$gray: rgb(102, 102, 102);
$opacityGray: rgba(102, 102, 102, 0.2);
$red: rgb(198, 29, 50);
$black: rgb(34, 31, 32);